@* @model IEnumerable<Mercado_Estoque.Model.Models.Acougue> *@
@model IEnumerable<Mercado_Estoque.Model.ViewModel.CongeladoVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa-regular fa-square-plus"></i>&nbsp; Produto</a>
</p>
</p>
<div>
    @await Html.PartialAsync("_Congelados", Model)
</div>
    </tbody>
</table>
